body {
  margin: 0;
  padding: 0;
  background-image: url("https://htmlcolorcodes.com/assets/images/colors/gray-color-solid-background-1920x1080.png");
  background-size: cover;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

form {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  width: 100%;
  text-align: center;
}

h1 {
  margin-top: 0;
  font-size: 36px;
  color: #333;
}

label {
  display: block;
  margin-bottom: 10px;
  color: #666;
  text-align: left;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  color: #333;
  outline: none;
}

button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #555;
}

.signin {
  margin-top: 20px;
  color: #666;
  font-size: 14px;
}

.signin a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

.signin a:hover {
  text-decoration: underline;
}
.signup a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

.signup a:hover {
  text-decoration: underline;
}
input[type="email"],
input[type="password"],
input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  color: #333;
  outline: none;
  background-color: #e5e5e5;
}
