<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Car Rental - Car Listing</title>

    <!-- <link rel="stylesheet" href="/css/dash.css" /> -->
    <script src="https://your-site-or-cdn.com/fontawesome/v6.1.1/js/all.js"></script>
    <script
      src="https://kit.fontawesome.com/3715e2b643.js"
      crossorigin="anonymous"
    ></script>
  </head>
</html>
