<nav class="navbar">
  <a href="/cars" class="logo">Rolling Rentals</a>

  <ul class="menu">
    <li><a href="/cars">Home</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Cars</a></li>
    <li><a href="#"></a></li>
    <!-- <li><a href="/add-cars">Add Cars</a></li> -->
    <!-- <li><a href="#">My Account</a></li> -->
    <!-- <li class="nav-btn"><a href="/signup">Login/Sign Up</a></li> -->
  </ul>
</nav>
